/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */

/* Custom properties */
:root {
  --space-bg: 30px;
  --space-md: 20px;
  --space-sm: 10px;
}

/* Utilities */
.container {
  margin: 0 auto;
}


img {
  max-width: 100%;
}

/* Column */

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-66 {
  width: 66.66%;
}

.col-70 {
  width: 70%;
}

.col-75 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

/* Flex Properties */

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.gap-10 {
  gap: 10px;
}

.flex {
  display: flex;
}

.text-align-center {
  text-align: center;
}


/* Margins and Paddings */


.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-neg-20 {
  margin-top: -20px;
  margin-bottom: -20px;
}

.my-10 {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.py-10 {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.py-20 {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-20 {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pyx-5 {
  padding: 5px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-40 {
  padding-bottom: 40px;
}


/* Font Properties */


.font-size-07 {
  font-size: 0.7rem;
}

.font-size-08 {
  font-size: 0.8rem;
}

.font-size-1v2 {
  font-size: 1.2rem;
}

.font-size-1v8 {
  font-size: 1.8rem;
}

.text-white {
  color: white;
}

.text-purple {
  color: rgb(114, 136, 218);
}

.text-decoration-none {
  text-decoration: none;
}

.font-light {
  font-weight: lighter;
}

.line-1v5 {
  line-height: 1.5rem;
}

.line-1v2 {
  line-height: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

/* Buttons and Colors */

.little-btn {
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
}

.big-btn {
  border-radius: 20px;
  padding: 8px 14px 8px 14px;
  font-size: 0.8rem;
}

.background-white {
  background-color: white;
}

.background-purple {
  background-color: rgb(114, 136, 218);
}

.background-black {
  background-color: black;
}


/* SECTIONS */

/* Navbar */
.navbar {
  background-color: rgb(37, 94, 232);
  min-height: 80px;
}

.navbox {
  align-items: center;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.logo {
  width: 80px;
}

.nav-links {
  list-style: none;
  gap: 10px;
}


/* Hero Section */

.hero-background {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Text-Img Sections */

.white-bckg {
  background-color: white;
}

.grey-bckg {
  background-color: rgb(248, 248, 248);
}

.star-bck {
  background-image: url("../img/stars.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.dark-grey-bckg {
  background-color: rgb(36, 36, 36);
}

footer li {
  list-style: none;
  line-height: 2rem;
  font-size: 0.7rem;
}

footer li > a {
  text-decoration: none;
  color: white;
}

footer h4 {
  color: rgb(114, 136, 218);
  line-height: 2rem;
  font-size: 0.7rem;
}

.inline {
  display: inline;
  vertical-align: middle;
}

.width-20 {
  width: 20px;
}

.social-icons {
  width: 20px;
  fill: white;
  margin-right: 5px;
}

.top-border {
  border-top: 1px solid rgb(114, 136, 218);
}